* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,body, #root {
  height: 100%;
}

body {
  background: #E5E6F0;
  -webkit-font-smoothing: antialised;

}

.calendario{
  width: 700px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dia{
  width: 100px;
  height: 100px;
  border-style: solid;
  border-width: 2px;
}